body 
{
    font-family: 'Signika', sans-serif;
    line-height: 1.8;
    margin: 0px;
}

a
{
    color: #fff;
}

a:hover
{
    color: #fff;
}

#link-dicionario:hover {
    text-decoration: none;
}

.modal-title
{
  color: #2a659d;
  font-weight: bold;
}
.drop{
    left: auto;
}